html, body {
  height: 100%;
  margin: 0;
}

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-header {
  flex-shrink: 0;
}

.main-content {
  flex: 1; /* take up remaining space */
  padding: 2rem;
}

app-footer {
  flex-shrink: 0;
}
